{% extends 'base.html' %}

{% block heading%}
	<h6 class='mb-1 font-weight-bold'>ATTRITION & RETENTION</h6>
{% endblock %}

{% block content %}
	<div class="container-fluid" id="main">
		<div class="row row-offcanvas row-offcanvas-left">
			<!--Main col starts/-->
			<div class="col main mt-1">				
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link {{ casework_tab }}" href="{% url 'attrition' 1 %}" role="tab"><small>Casework Data</small></a>
					</li>
					<li class="nav-item">
						<a class="nav-link {{ cssurveys_tab }}" href="{% url 'attrition' 2 %}" role="tab"><small>CS Survey Results</small></a>
					</li>
					<li class="nav-item">
						<a class="nav-link {{ teamdata_tab }}" href="{% url 'attrition' 3 %}" role="tab"><small>Other Team Metrics</small></a>
					</li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content tab-bkgrnd2">
					<!--Tab1/-->		
					<div role="tabpanel" class="tab-pane {{ casework_tab }}" id="casework1">
						{% include "departments/casework.html" with caseList=case_list %}					
					</div>
					<!--/Tab1-->
					<!--Tab2/-->
					<div role="tabpanel" class="tab-pane {{ cssurveys_tab }}" id="cssurveys1">
						{% include "departments/cssurveys.html" %}
					</div>
					<!--/Tab2-->
					<!--Tab3/-->
					<div role="tabpanel" class="tab-pane {{ teamdata_tab }}" id="teamdata1">
						<div class="container-fluid">
							<div class="row my-1">							
								<div class="col-lg-4 col-md-3">								
									<div class="row placeholders mb-1">
										<div class="col-12 text-center">
											<div class="placeholder text-center">
												<div class="bar-chart">			
													<canvas id="rft-barChart" width="425" height="450"></canvas>
													<div class="spinner" id="mySpinnerA1"></div>
												</div>
												<h6 class="chart-title">Reasons For Termination - All Term Records On File</h6>
											</div>
										</div>
									</div>
								</div>								
								<div class="col-lg-8 col-md-9">
									<div class="row">	
										<div class="row placeholders mb-1">
											<div class="col-12 text-center">
												<div class="placeholder text-center">
													<div class="bar-chart">			
														<canvas id="rftRace-barChart" width="750" height="205"></canvas>
														<div class="spinner" id="mySpinnerB1"></div>
													</div>
													<h6 class="chart-title">Reasons For Termination By Race</h6>
												</div>
											</div>											
										</div>	
										<div class="row placeholders mb-1">
											<div class="col-12 text-center">
												<div class="placeholder text-center">
													<div class="bar-chart">			
														<canvas id="rftGender-barChart" width="750" height="205"></canvas>
														<div class="spinner" id="mySpinnerC1"></div>
													</div>												
													<h6 class="chart-title">Reasons For Termination By Gender</h6>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>	
					<!--/Tab3-->
				</div>
				
			</div>
			<!--/main col ends-->
		</div>
	</div>
	<!--/.container-->
{% endblock %}

{% block deptCharts-script %}
	{% include "departments/dept_js.html" with requestor_list=requestor_list priority_list=priority_list case_avg=case_avg scores_info=scores_info dissatisfied_info=dissatisfied_info unknown_info=unknown_info %}

	var rftValues = {{ rft_info|safe }};
	var rftValLabels = rftValues[0];
	var rftValData = rftValues[1];
	
	var rftRaceValues = {{ rft_raceCount|safe }};	
	var rftByRaceValLabels = Object.keys(rftRaceValues);
	var rftRaceObjVal = Object.values(rftRaceValues);
	var rftByRaceValData = formatHorizontalBarChartData(rftRaceObjVal, raceLabels);
	
	var rftGenderValues = {{ rft_genderCount|safe }};
	var rftByGenderValLabels = Object.keys(rftGenderValues);
	var rftGenderObjVal = Object.values(rftGenderValues)
	var rftByGenderValData = formatHorizontalBarChartData(rftGenderObjVal, genderLabels);
	
	function attritionDeptOnlyCharts() {
		hbar_graph2('rft-barChart', rftValLabels, rftValData, 'Total', 'rgba(198, 127, 111, 0.65)', horizBarGraph_options1);
		hbar_graph1('rftRace-barChart', rftByRaceValLabels, rftByRaceValData, raceLabels, scheme5_colors, blue_menu_color, horizStackedBarGraph_options3);
		hbar_graph1('rftGender-barChart', rftByGenderValLabels, rftByGenderValData, genderLabels, poolColors(rftByGenderValLabels.length), blue_menu_color, horizStackedBarGraph_options3)
	}
	startAttritionChartsTimeOut();
{% endblock %}