
<div class="container-fluid">
	<div class="row my-1">
		<div class="col-lg-6 col-md-5">
			<div class="row-fluid mt-1">
				<div class="row placeholders mb-3">
					<div class="col-6 col-md-6 col-sm-12 placeholder text-center">						
						<div class="pie-chart">
							<canvas id="pieChart1" width="220" height="225"></canvas>
						</div>
						<h6 class="chart-title">YTD Requestor Types</h6>
					</div>
					<div class="col-6 col-md-6 col-sm-12 placeholder text-center">
						<div class="pie-chart">
							<canvas id="pieChart2" width="220" height="225"></canvas>
						</div>
						<h6 class="chart-title">YTD Priority Levels</h6>
					</div>
				</div>	
				<div class="row placeholders mb-1">
					<div class="col-12 text-center">
						<div class="placeholder text-center">
							<div class="pie-chart">
								<canvas id="lineChart1" width="510" height="175"></canvas>
							</div>
							<h6 class="chart-title">Average Number of Days to Close Cases Per Month - 2020</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-7">
			<div class="row mt-1 justify-content-center text-center">
				<span class="my-1 text-center font-weight-light text-uppercase text-info border border-info">
					<small class="mx-2"><u>sla maximum time periods</u></small><br>
					<small class="mx-2"> tier 1: 48hrs (2 days) | tier 2: 96hrs (4 days)</small> 
				</span>
				<span class="text-muted mt-2"><span class="lead">CURRENT OPEN TEAM CASES: </span><small class="font-italic">(cases out of SLA are in red)</small></span>
				<div class="table-responsive">
					<table class="table table-sm table-striped">
						<thead class="thead-inverse text-muted text-uppercase">
							<tr>
								<th><small>Case ID#</small></th>
								<th><small>Tier Level</small></th>
								<th><small>Assigned To</small></th>
								<th><small>Date Created</small></th>
							</tr>
						</thead>
						<tbody>
						{% for case in caseList %}
							{% if case.OO_SLA%}
								<tr>
									<td><small class="red-text">{{ case.caseid }}</small></td>
									<td><small class="red-text">{{ case.tierlevel }}</small></td>
									<td><small class="red-text">{{ case.caseowner }}</small></td>
									<td><small class="red-text">{{ case.datereceived }}</small></td>
								</tr>								
							{% else %}
								<tr>
									<td><small>{{ case.caseid }}</small></td>
									<td><small>{{ case.tierlevel }}</small></td>
									<td><small>{{ case.caseowner }}</small></td>
									<td><small>{{ case.datereceived }}</small></td>
								</tr>								
							{% endif %}
						{% endfor %}
						</tbody>
					</table>
					{% include "departments/paginator.html" with itemList=caseList %}
				</div>
			</div>
		</div>
	</div>
</div>
