
<div class="container-fluid">
	<div class="row placeholders mt-1">	
		<div class="col-6 col-sm-3 mt-2 placeholder text-center">
			<div class="pie-chart">
				<div class="spinner" id="mySpinner1"></div>			
				<canvas id="pieChart4a" width="200" height="200"></canvas>
			</div>
			<h6 class="chart-title">2019</h6>
		</div>
		<div class="col-6 col-sm-3 mt-2 placeholder text-center">
			<div class="pie-chart">
				<div class="spinner" id="mySpinner2"></div>
				<canvas id="pieChart4b" width="200" height="200"></canvas>
			</div>
			<h6 class="chart-title">2020</h6>
		</div>
		<div class="col-6 col-sm-3 mt-2 placeholder text-center">
			<div class="pie-chart">
				<div class="spinner" id="mySpinner3"></div>				
				<canvas id="pieChart4c" width="200" height="200"></canvas>
			</div>
			<h6 class="chart-title">2021</h6>
		</div>
		<div class="col-6 col-sm-3 mt-2 placeholder text-center">
			<div class="pie-chart">	
				<div class="spinner" id="mySpinner4"></div>			
				<canvas id="pieChart4d" width="200" height="200"></canvas>
			</div>
			<h6 class="chart-title">2022</h6>
		</div>
	</div>
	<!--/row-->
	<div class="row placeholders mb-2">
		<div class="col-sm-6 col-xs-12 placeholder text-center">
			<div class="bar-chart">			
				<canvas id="barChart1" width="575" height="210"></canvas>
				<div class="spinner" id="mySpinner5"></div>
			</div>
			<h6 class="chart-title">Dissatisfied Requestor Types</h6>
		</div>
		<div class="col-sm-6 col-xs-12 placeholder text-center">
			<div class="bar-chart">			
				<canvas id="barChart2" width="575" height="210"></canvas>
				<div class="spinner" id="mySpinner6"></div>
			</div>
			<h6 class="chart-title">Unknown Satisfaction Requestor Types</h6>
		</div>
	</div>
	<!--/row-->
</div>
