{% extends 'base.html' %}


{% block heading %}
	<h6 class='mb-1'>OUR EMPLOYEE DEMOGRAPHICS</h6>
{% endblock %}


{% block content %}
	<div class="container-fluid" id="main">
		<div id= "main-row" class="row row-offcanvas row-offcanvas-left">
			<!--Main col starts/-->
			<div class="col main mt-3 tab-bkgrnd1">
			
				<div class="row">
					<div class="col-md-12 mx-1">
						<div class="tab">
						  <button class="tablinks active" onclick="showChart(event, 'empstatus')" id="defaultOpen">Employment Status - All Records</button>
						  <button class="tablinks" onclick="showChart(event, 'staffCntByDept')">Staff Totals By Department</button>
						  <button class="tablinks" onclick="showChart(event, 'staffGenderPerc')">Staff Gender Percentages</button>  
						  <button class="tablinks" onclick="showChart(event, 'staffRacePerc')">Staff Racial Percentages</button> 
						  <button class="tablinks" onclick="showChart(event, 'staffMaritalPerc')">Staff Marital Status Percentages</button> 
						  <button class="tablinks" onclick="showChart(event, 'staffRaceByDept')">Staff Racial Distribution By Department</button> 
						  <button class="tablinks" onclick="showChart(event, 'staffMaritalByDept')">Staff Marital Status By Department</button> 
						  <button class="tablinks" onclick="showChart(event, 'staffAgeDistrib')">Staff Age Distribution</button> 
						  <button class="tablinks" onclick="showChart(event, 'staffLocalesByDept')">Staff Locations By Department</button>						  
						</div>
						<div class="container tab-wrapper">
							<div id="empstatus" class="tabcontent">
								<h4 class="vtab-chart text-center">Employment Status - All Records On File</h4>
								<div class="pie-chart">			
									<canvas id="empStat-pieChart" width="400" height="400"></canvas>
								</div>
							</div>
							<div id="staffCntByDept" class="tabcontent">
								<h4 class="vtab-chart text-center">Current Staff Totals By Department</h4>
								<div class="bar-chart">
									<canvas id="deptTotals-barChart" width="400" height="400"></canvas>
								</div>		
							</div>
							<div id="staffGenderPerc" class="tabcontent">
								<h4 class="vtab-chart text-center">Current Staff Gender Percentages</h4>
								<div class="pie-chart">		
									<canvas id="genderCount-pieChart" width="400" height="400"></canvas>
								</div>		
							</div>
							<div id="staffRacePerc" class="tabcontent">
								<h4 class="vtab-chart text-center">Current Staff Racial Percentages</h4>
								<div class="pie-chart">
									<canvas id="raceCount-pieChart" width="400" height="400"></canvas>
								</div>
							</div>
							<div id="staffMaritalPerc" class="tabcontent">
								<h4 class="vtab-chart text-center">Current Staff Marital Status Percentages</h4>
								<div class="pie-chart">
									<canvas id="maritalStat-pieChart" width="400" height="400"></canvas>
								</div>
							</div>
							<div id="staffRaceByDept" class="tabcontent">
								<h4 class="vtab-chart text-center">Current Staff Racial Distribution By Department</h4>
								<div class="bar-chart">
									<canvas id="raceByDept-barChart" width="400" height="400"></canvas>
								</div>
							</div>
							<div id="staffMaritalByDept" class="tabcontent">
								<h4 class="vtab-chart text-center">Current Staff Marital Status By Department</h4>
								<div class="bar-chart">
									<canvas id="maritalByDept-barChart" width="400" height="400"></canvas>
								</div>
							</div>
							<div id="staffAgeDistrib" class="tabcontent">
								<h4 class="vtab-chart text-center">Current Staff Age Distribution</h4>
								<div class="bar-chart">
									<canvas id="ageCount-barChart" width="400" height="400"></canvas>
								</div>
							</div>
							<div id="staffLocalesByDept" class="tabcontent">
								<h4 class="vtab-chart text-center">Current Staff Locations By Department</h4>
								<div class="bar-chart">
									<canvas id="localesCount-barChart" width="400" height="400"></canvas>
								</div>
							</div>
						</div>
					</div>	
				</div>
			
			</div>
			<!--/main col ends-->
		</div>
	</div>
	<!--/.container-->
{% endblock %}


{% block demographicsCharts-script %}
	<!-- from view -->
	var statusValues = {{ statusValues|safe }};
	var deptCountValues = {{ deptCountValues|safe }};
	var genderValues = {{ genderValues|safe }};
	var raceValues = {{ raceValues|safe }};
	var maritalStatValues = {{ maritalStatValues|safe }};
	var raceByDeptValues = {{ raceByDeptValues|safe }};
	var maritalStatByDeptValues = {{ maritalStatByDeptValues|safe }};
	var ageCountValues = {{ ageCountValues|safe }};
	var localesByDeptInfo = {{ localesByDeptInfo|safe }};
	
	<!-- ******************************** TESTING ***************************************** -->
	console.log(raceByDeptValues);
	console.log(raceByDeptValues);
	console.log(localesByDeptInfo[0]);
	
	<!-- chart variables setup -->	
	var statusSum1 = statusValues[0] + statusValues[1]
	var statusSum2 = statusValues[2] + statusValues[3] + statusValues[4]
		
	var rbdv = raceByDeptValues;
	var msbdv = maritalStatByDeptValues;
	var teamA = 'Admin Offices';
	var teamB = 'IT - Information Systems';
	var teamC = "Production";
	var teamD = 'Sales';
	var teamE = 'Software Engineering';
	var teamF = 'Executive Office';
	var raceA = 'American Indian or Alaska Native';
	var raceB = 'Asian';
	var raceC = 'Black or African American'; 
	var raceD = 'Hispanic';
	var raceE = 'Two or more races';
	var raceF = 'White';
	var mStatA = 'Divorced'; 
	var mStatB = 'Married';
	var mStatC = 'Separated';
	var mStatD = 'Single';
	var mStatE = 'Widowed';
	
	var aaNums = [rbdv[teamA][raceA],rbdv[teamB][raceA],rbdv[teamC][raceA],rbdv[teamD][raceA],rbdv[teamE][raceA],rbdv[teamF][raceA]];
	var aNums = [rbdv[teamA][raceB],rbdv[teamB][raceB],rbdv[teamC][raceB],rbdv[teamD][raceB],rbdv[teamE][raceB],rbdv[teamF][raceB]];
	var bNums = [rbdv[teamA][raceC],rbdv[teamB][raceC],rbdv[teamC][raceC],rbdv[teamD][raceC],rbdv[teamE][raceC],rbdv[teamF][raceC]];
	var hNums = [rbdv[teamA][raceD],rbdv[teamB][raceD],rbdv[teamC][raceD],rbdv[teamD][raceD],rbdv[teamE][raceD],rbdv[teamF][raceD]];
	var tNums = [rbdv[teamA][raceE],rbdv[teamB][raceE],rbdv[teamC][raceE],rbdv[teamD][raceE],rbdv[teamE][raceE],rbdv[teamF][raceE]];
	var wNums = [rbdv[teamA][raceF],rbdv[teamB][raceF],rbdv[teamC][raceF],rbdv[teamD][raceF],rbdv[teamE][raceF],rbdv[teamF][raceF]];

	var divNums = [msbdv[teamA][mStatA],msbdv[teamB][mStatA],msbdv[teamC][mStatA],msbdv[teamD][mStatA],msbdv[teamE][mStatA],msbdv[teamF][mStatA]];
	var marNums = [msbdv[teamA][mStatB],msbdv[teamB][mStatB],msbdv[teamC][mStatB],msbdv[teamD][mStatB],msbdv[teamE][mStatB],msbdv[teamF][mStatB]];
	var sepNums = [msbdv[teamA][mStatC],msbdv[teamB][mStatC],msbdv[teamC][mStatC],msbdv[teamD][mStatC],msbdv[teamE][mStatC],msbdv[teamF][mStatC]];
	var singNums = [msbdv[teamA][mStatD],msbdv[teamB][mStatD],msbdv[teamC][mStatD],msbdv[teamD][mStatD],msbdv[teamE][mStatD],msbdv[teamF][mStatD]];
	var widNums = [msbdv[teamA][mStatE],msbdv[teamB][mStatE],msbdv[teamC][mStatE],msbdv[teamD][mStatE],msbdv[teamE][mStatE],msbdv[teamF][mStatE]];
	
	var ageCountValLabels = ageCountValues[0];
	var ageCountValData = ageCountValues[1];
	
	var localesByDeptValues = localesByDeptInfo[0];
	var stateLabels = localesByDeptInfo[1];
	var localesByDeptLabels = Object.keys(localesByDeptValues);
	var localesByDeptObjVal = Object.values(localesByDeptValues);
	var localesByDeptData = formatHorizontalBarChartData(localesByDeptObjVal, stateLabels);
	var locales_colors = getColorsList(stateLabels);
	hbar_graph1('localesCount-barChart', localesByDeptLabels, localesByDeptData, stateLabels, locales_colors, '#fff', horizStackedBarGraph_options4);
	
	var seq = palette('tol-sq', 10);




	<!-- chart IDs -->	
	var ctx1 = document.getElementById('empStat-pieChart');
	var ctx2 = document.getElementById('deptTotals-barChart');
	var ctx3 = document.getElementById('genderCount-pieChart');
	var ctx4 = document.getElementById('raceCount-pieChart');
	var ctx5 = document.getElementById('maritalStat-pieChart');
	var ctx6 = document.getElementById('raceByDept-barChart');
	var ctx7 = document.getElementById('maritalByDept-barChart');
	var ctx8 = document.getElementById('ageCount-barChart');
	



	<!-- chart option settings -->
	var options1 = {
		responsive: true,
		maintainAspectRatio: false,
		cutoutPercentage: 40,
		legend: {
			display: true,
			position: 'right',
			labels: { fontSize: 12 }			
		},
		tooltips: {
			callbacks: {
				label: function(tooltipItem, data) {
				var dataset = data.datasets[tooltipItem.datasetIndex];
				var index = tooltipItem.index;
				return dataset.labels[index] + ": " + dataset.data[index];
				}
			}
		},
		plugins: {
			datalabels: {
				formatter: (value, ctx) => {
					let sum = 0;
					let dataArr = ctx.chart.data.datasets[0].data;
					dataArr.map(data => {
						sum += data;
					});
					let percentage = (value * 100 / sum).toFixed(0) + "%";
					return percentage;
				},
				color: '#000',
			},
			doughnutlabel: {
				labels: [
				  {
					text: getTotal,
					font: { size: '40'},
					color: '#ccc'
				  },
				  {
					text: 'TOTAL',
					font: { size: '15'},
					color: '#ccc'
				  },
				]
			}
		}
	}
	
	var options2 = {
		responsive: true,
		maintainAspectRatio: false,
		legend: { display: false },
		plugins: {
			datalabels: { display: false },
		}		
	}

	var options3 = {
		responsive: true,
		maintainAspectRatio: false,
		legend: { 
			display: true,
			position: 'right',
			labels: { 
				fontSize: 12
			}
		},
		plugins: {
			datalabels: {
				formatter: (value, ctx) => {
					let sum = 0;
					let dataArr = ctx.chart.data.datasets[0].data;
					dataArr.map(data => {
						sum += data;
					});
					let percentage = (value * 100 / sum).toFixed(0) + "%";
					return percentage;
				},
				color: '#000',
			},
			colorschemes: {
				scheme: 'brewer.DarkTwo8'
			},
			doughnutlabel: {
				labels: [
				  {
					text: getTotal,
					font: { size: '40'},
					color: '#ccc'
				  },
				  {
					text: 'TOTAL',
					font: { size: '15'},
					color: '#ccc'
				  },
				]
			}
		}
	}

	var options4 = {
		responsive: true,
		maintainAspectRatio: false,
		legend: { 
			display: true,
			position: 'bottom',
			labels: { fontSize: 12 }
		},
		plugins: {
			datalabels: { display: false }
		},			
		scales: {
			xAxes: [{
				stacked: true
			}],
			yAxes: [{
				stacked: true
			}]		
		}
	}

	var options5 = {
		responsive: true,
		maintainAspectRatio: false,
		legend: { display: false },
		plugins: {
			datalabels: { display: false }
		}			
	}




	<!-- chart data settings -->
	var statusData = {	
		labels: ['Voluntarily Terminated', 'Terminated for Cause', 'Active', 'Future Start', 'Leave of Absence'],		
		datasets: [{
			label: 'Employee Status',
			labels: ['Voluntarily Terminated', 'Terminated for Cause', 'Active', 'Future Start', 'Leave of Absence'],		
			data: statusValues,
			backgroundColor : [
			  "#ffcc99", "#ffd9b3", "#88cc00", "#99e600", "#aaff00"
			],			
			borderColor : "#fff",	
			borderWidth: 2
		},{
			label: 'All Records', 
			labels: ['Terminated', 'Current Staff'],		
            data: [statusSum1, statusSum2],
			backgroundColor : [
			  "#ff9933", "#669900"
			],
			borderColor : "#fff",			
			borderWidth: 2
        }]
	}
	
	var deptData = {
		labels: ['Executive Office', 'Admin Offices', 'Information Systems', 'Production', 'Sales', 'Software Engineering'],
		datasets: [{
			label: 'Department Total',
			data: deptCountValues,
			backgroundColor : [
			  "gold", "olive", "magenta", "teal", "coral", "purple"
			],
			borderColor : "#ccc",			
			borderWidth: 1
		}]
	}
	
	var genderData = {
		labels: ['Male', 'Female'],
		datasets: [{
			label: 'Gender',
			data: genderValues,
			borderWidth: 2
		}]
	}
	
	var raceData = {
		labels: ['American Indian or Alaska Native', 'Asian', 'Black or African American', 'Hispanic', 'Two or more races', 'White'],
		datasets: [{
			label: 'Race',
			data: raceValues,
			borderWidth: 2
		}]
	}

	var maritalData = {
		labels: ['Divorced', 'Married', 'Separated', 'Single', 'Widowed'],
		datasets: [{
			label: 'Marital Status',
			data: maritalStatValues,
			borderWidth: 2
		}]
	}

	var raceByDeptData = {
		labels: ['Admin Offices', 'Information Systems', 'Production', 'Sales', 'Software Engineering', 'Executive Office'],
		datasets: [{
			label: 'American Indian or Alaska Native',
			data: aaNums,
			backgroundColor: 'gold',
			borderColor: '#fff',
			borderWidth: 2
		}, {
			label: 'Asian',
			data: aNums,
			backgroundColor: 'olive',
			borderColor: '#fff',
			borderWidth: 2
		}, {
			label: 'Black or African American',
			data: bNums,
			backgroundColor: 'magenta',
			borderColor: '#fff',
			borderWidth: 2
		}, {
			label: 'Hispanic',
			data: hNums,
			backgroundColor: 'teal',
			borderColor: '#fff',
			borderWidth: 2	
		}, {
			label: 'Two or more races',
			data: tNums,
			backgroundColor: 'coral',
			borderColor: '#fff',
			borderWidth: 2
		}, {
			label: 'White',
			data: wNums,
			backgroundColor: 'purple',
			borderColor: '#fff',
			borderWidth: 2				
		}]
	}

	var maritalByDeptData = {
		labels: ['Admin Offices', 'Information Systems', 'Production', 'Sales', 'Software Engineering', 'Executive Office'],
		datasets: [{
			label: 'Divorced',
			data: divNums,
			backgroundColor: 'gold',
			borderColor: '#fff',
			borderWidth: 2
		}, {
			label: 'Married',
			data: marNums,
			backgroundColor: 'olive',
			borderColor: '#fff',
			borderWidth: 2
		}, {
			label: 'Separated',
			data: sepNums,
			backgroundColor: 'magenta',
			borderColor: '#fff',
			borderWidth: 2
		}, {
			label: 'Single',
			data: singNums,
			backgroundColor: 'coral',
			borderColor: '#fff',
			borderWidth: 2
		}, {
			label: 'Widowed',
			data: widNums,
			backgroundColor: 'purple',
			borderColor: '#fff',
			borderWidth: 2
		}]
	}
	
	var ageData = {
		labels: ageCountValLabels,
		datasets: [{
			label: 'Age Total',
			data: ageCountValData,
			backgroundColor: poolColors(ageCountValData.length),
			borderColor: blue_menu_color,
			borderWidth: 2,

		}]
	}
	


	
	<!-- initialize charts -->
	var myChart1 = new Chart(ctx=ctx1, {
		type: 'doughnut',
		data: statusData,
		options: options1
	});
	
	var myChart2 = new Chart(ctx=ctx2, {
		type: 'horizontalBar',
		data: deptData,
		options: options2
	});	
	
	var myChart3 = new Chart(ctx=ctx3, {
		type: 'doughnut',
		data: genderData,
		options: options3
	});

	var myChart4 = new Chart(ctx=ctx4, {
		type: 'doughnut',
		data: raceData,
		options: options3
	});
	
	var myChart5 = new Chart(ctx=ctx5, {
		type: 'doughnut',
		data: maritalData,
		options: options3
	});
	
	var myChart6 = new Chart(ctx=ctx6, {
		type: 'horizontalBar',
		data: raceByDeptData,
		options: options4
	});

	var myChart7 = new Chart(ctx=ctx7, {
		type: 'horizontalBar',
		data: maritalByDeptData,
		options: options4
	});	
	
	var myChart8 = new Chart(ctx=ctx8, {
		type: 'bar',
		data: ageData,
		options: options5
	});




	<!-- Vertical tabs function -->
	function showChart(evt, chartName) {
	  var i, tabcontent, tablinks;
	  tabcontent = document.getElementsByClassName("tabcontent");
	  for (i = 0; i < tabcontent.length; i++) {
		tabcontent[i].style.display = "none";
	  }
	  tablinks = document.getElementsByClassName("tablinks");
	  for (i = 0; i < tablinks.length; i++) {
		tablinks[i].className = tablinks[i].className.replace(" active", "");
	  }
	  document.getElementById(chartName).style.display = "block";
	  evt.currentTarget.className += " active";
	}

	document.getElementById("defaultOpen").click();	
{% endblock %}