{% extends 'base.html' %}

{% block heading %}
	<h6 class='mt-2 font-weight-bold'>EMPLOYEE / SITE LOCATER</h6>
{% endblock %}

{% block content %}
	<div class="container-fluid" id="main">
		<div class="row row-offcanvas row-offcanvas-left">
			<!--Main col starts/-->
			<div class="col main mt-1">						
				
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link {{ emplist_tab }}" href="{% url 'locater' 1 %}" role="tab"><small>Employee List By Work Site</small></a>
					</li>
					<li class="nav-item">
						<a class="nav-link {{ worksites_tab }}" href="{% url 'locater' 2 %}" role="tab"><small>Work Sites Info</small></a>
					</li>
					<li class="nav-item">
						<a class="nav-link {{ emphomelist_tab }}" href="{% url 'locater' 3 %}" role="tab" id="map-tab"><small>Employee Locations By Zipcode</small></a>
					</li>					
				</ul>

				<!-- Tab panes -->
				<div class="tab-content tab-bkgrnd3">
					<!--TAB1/-->					
					<div role="tabpanel" class="tab-pane {{ emplist_tab }}" id="employeesitelist1">
						<div class="container-fluid" id="employeeList">
							<div class="row">							
								<div class="col-lg-3 col-md-4 col-sm-12 mt-2">
									<div class="card">
										<div class="card-body">
											<h6 class="text-muted text-uppercase">work groups list</h6>
											<form method="POST" action="{% url 'locater' 1 %}">
												{% csrf_token %}
												<small>{{ form1.as_p }}</small>
												<button type="submit" id="select_site" class="btn btn-primary btn-sm">Select Site</button>
											</form>
										</div>
									</div>								
								</div>								
								<div class="col-lg-9 col-md-8 col-sm-12 mt-2">
									<div class="row">	
									<span class="text-muted text-uppercase lead">current employees in this work group:</span>
										<div class="table-responsive">
											<table class="table table-sm table-striped">
												<thead class="thead-inverse text-muted text-uppercase">
													<tr>
														<th><small>ID#</small></th>
														<th><small>Employee Name</small></th>
														<th><small>Department</small></th>
														<th><small>Position</small></th>
														<th><small>Employment Status</small></th>
													</tr>
												</thead>
												<tbody>												
												{% for emp in empList %}
													<tr>
														<td><small>{{ emp.employeenumber }}</small></td>
														<td><small>{{ emp.firstname }} {{ emp.lastname }}<small></td>
														<td><small>{{ emp.department }}</small></td>
														<td><small>{{ emp.position }}</small></td>
														<td><small>{{ emp.employmentstatus }}</small></td>
													</tr>
												{% endfor %}
												</tbody>												
											</table>
											{% include "departments/paginator.html" with itemList=empList %}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--/TAB1-->
					<!--TAB2/-->					
					<div role="tabpanel" class="tab-pane {{ worksites_tab }}" id="worksites1">
						<div class="row">
							<div class="col-lg-4 col-md-5 col-sm-12 mt-2">
								<div class="card">
									<div class="card-body">
										<h5 class="text-muted text-uppercase">work site locations</h5>
										<div class="list-group" id="siteList2" role="tablist">
										{% for site in sitesList %}
											{% if site.worksiteid == 1 %}
											<a class="list-group-item list-group-item-action active" data-toggle="list" href="#site{{ site.worksiteid }}" role="tab">{{ site.sitename }}</a>
											{% else %}
											<a class="list-group-item list-group-item-action" data-toggle="list" href="#site{{ site.worksiteid }}" role="tab">{{ site.sitename }}</a>
											{% endif %}
										{% endfor %}
										</div>
									</div>
								</div>
							</div>					
							<div class="col-lg-8 col-md-7 col-sm-12 mt-2">
								<div class="tab-content">
								{% for site in sitesList %}
									{% if site.worksiteid == 1 %}
									<div class="tab-pane active" id="site{{ site.worksiteid }}" role="tabpanel">
									{% else %}
									<div class="tab-pane" id="site{{ site.worksiteid }}" role="tabpanel">
									{% endif %}
										<div class="row">
											<div class="card-deck">
												<div class="card card-inverse card-danger text-center">
													<div class="card-body">
														<img src="/static/{{ site.image }}" class="mx-auto img-fluid"/><br>
														<span class="lead">{{ site.sitename }}</span><br>
														<small>{{ site.address }}</small> | 
														<small>{{ site.city }}, {{ site.state }} {{ site.zipcode }}</small> | 
														<small>{{ site.mainphone }}</small>
													</div>
												</div>
											</div>
										</div>
									</div>
								{% endfor %}
								</div>
							</div>
						</div>
						<!--/row-->
					</div>	
					<!--/TAB2-->
					<!--TAB3/-->					
					<div role="tabpanel" class="tab-pane {{ emphomelist_tab }}" id="employeehomelist1">
						<div class="row">							
							<div class="col-lg-3 col-md-4 col-sm-12 mt-2">
								<div class="row-fluid">
									<div class="card mt-1">
										<div class="card-body">											
											<h6 class="text-muted text-uppercase">employee locations *</h6>
											<div class="list-group" id="stateList" role="tablist">
											{% for state in state_list %}
												{% if forloop.first %}
												<a class="list-group-item list-group-item-action active" data-toggle="list" href="#state{{ forloop.counter }}" role="tab"><small>{{ state }}</small></a>
												{% else %}
												<a class="list-group-item list-group-item-action" data-toggle="list" href="#state{{ forloop.counter }}" role="tab"><small>{{ state }}</small></a>
												{% endif %}
											{% endfor %}
											</div>
										</div>
									</div>		
									<div class="card card-inverse bg-inverse mt-1">
										<div class="card-body">
											<h6 class="text-muted text-uppercase">marker legend</h6>
											<div class="table-responsive">
												<table id="marker-legend" class="table table-sm">
													<tbody>												
														<tr>
															<td><small><img src='https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-green.png' height='22'></small></td>
															<td><small>Executive Office<small></td>
														</tr>
														<tr>
															<td><small><img src='https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-gold.png' height='22'></small></td>
															<td><small>Admin Offices<small></td>
														</tr>
														<tr>
															<td><small><img src='https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-violet.png' height='22'></small></td>
															<td><small>IT - Information Systems<small></td>
														</tr>
														<tr>
															<td><small><img src='https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-red.png' height='22'></small></td>
															<td><small>Software Engineering<small></td>
														</tr>
														<tr>
															<td><small><img src='https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-orange.png' height='22'></small></td>
															<td><small>Production<small></td>
														</tr>
														<tr>
															<td><small><img src='https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-blue.png' height='22'></small></td>
															<td><small>Sales<small></td>
														</tr>													
													</tbody>												
												</table>
											</div>
										</div>
									</div>										
								</div>
							</div>
							<div class="col-lg-9 col-md-8 col-sm-12 mt-2">
								<div class="row-fluid mt-1">
									<div class="tab-content" id="leaflet-maps" onload="map1Resize()">
									{% for state in state_list %}
										{% if forloop.first %}
										<div class="tab-pane active" id="state{{ forloop.counter }}" role="tabpanel">
										{% else %}
										<div class="tab-pane" id="state{{ forloop.counter }}" role="tabpanel">
										{% endif %}
											<div class="row">
												<div class="card-deck">
													<div class="card card-inverse card-danger text-center">
														<div class="card-body">
															<div class="state-map" id="mapid{{ forloop.counter }}" style="width:800px; height:400px;"></div>
														</div>
													</div>
												</div>
											</div>
										</div>
									{% endfor %}
									</div>
								</div>
							</div>							
						</div>
						<small><i>* "Remote" employees are not included</i></small>						
					</div>
					<!--/TAB3-->					
				</div>				
				
			</div>
			<!--/main col ends-->
		</div>
	</div>
	<!--/.container-->
{% endblock %}

{% block map-script %}
	$(document).ready(function(){			
		function map1Resize() {
			setTimeout(function(){ mymap1.invalidateSize(); }, 2000);
		}
		map1Resize();		
		{{ maps_js_code|safe }}
	});	
{% endblock %}