
{% if itemList.has_other_pages %}
<nav>
    <ul class="pagination justify-content-center">
        {% if itemList.has_previous %}
          <li><a href="?page={{ itemList.previous_page_number }}" class="page-link"> &laquo; </a></li>
        {% else %}
          <li class="disabled page-link"><span> &laquo; </span></li>
        {% endif %}

        {% for i in itemList.paginator.page_range %}
          {% if itemList.number == i %}
            <li class="active page-link"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
          {% endif %}
        {% endfor %}

        {% if itemList.has_next %}
          <li><a href="?page={{ itemList.next_page_number }}" class="page-link"> &raquo; </a></li>
        {% else %}
          <li class="disabled page-link"><span> &raquo; </span></li>
        {% endif %}
    </ul>
</nav>
{% endif %}

