{% extends 'base.html' %}

{% block heading%}
	<h6 class='mb-1 font-weight-bold'>RECRUITMENT & SELECTION</h6>
{% endblock %}

{% block content %}
	<div class="container-fluid" id="main">
		<div class="row row-offcanvas row-offcanvas-left">
			<!--Main col starts/-->
			<div class="col main mt-1">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link {{ casework_tab }}" href="{% url 'recruitment' 1 %}" role="tab"><small>Casework Data</small></a>
					</li>
					<li class="nav-item">
						<a class="nav-link {{ cssurveys_tab }}" href="{% url 'recruitment' 2 %}" role="tab"><small>CS Survey Results</small></a>
					</li>
					<li class="nav-item">
						<a class="nav-link {{ teamdata_tab }}" href="{% url 'recruitment' 3 %}" role="tab"><small>Other Team Metrics</small></a>
					</li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content tab-bkgrnd2">
					<!--Tab1-->		
					<div role="tabpanel" class="tab-pane {{ casework_tab }}" id="casework1">
						{% include "departments/casework.html" with caseList=case_list %}					
					</div>
					<!--/Tab1-->
					<!--Tab2-->
					<div role="tabpanel" class="tab-pane {{ cssurveys_tab }}" id="cssurveys1">
						{% include "departments/cssurveys.html" %}
					</div>
					<!--/Tab2-->
					<!--Tab3-->
					<div role="tabpanel" class="tab-pane {{ teamdata_tab }}" id="teamdata1">
						<div class="container-fluid">
							<div class="row my-1">							
								<div class="col-lg-6 col-md-6">									
									<div class="row placeholders mb-2">
										<div class="col-12 text-center">
											<div class="placeholder text-center">
												<div class="bar-chart">
													<div class="spinner" id="mySpinnerA4"></div>
													<canvas id="recruitCosts-barChart" width="650" height="440"></canvas>
												</div>
												<h6 class="chart-title">2019 Recruitment Source Costs($)</h6>
											</div>
										</div>
									</div>						
								</div>								
								<div class="col-lg-6 col-md-6">										
									<div class="row placeholders mb-2">
										<div class="col-12 text-center">
											<div class="placeholder text-center">
												<div class="bar-chart">
													<div class="spinner" id="mySpinnerB4"></div>
													<canvas id="preHireEmpSource-barChart" width="500" height="440"></canvas>
												</div>
												<h6 class="chart-title">Pre-Hire Employment Sources - Current Staff</h6>
											</div>
										</div>
									</div>	
								</div>
							</div>
						</div>
					</div>	
					<!--/Tab3-->
				</div>
				
			</div>
			<!--/main col ends-->
		</div>
	</div>
	<!--/.container-->
{% endblock %}


{% block deptCharts-script %}
	{% include "departments/dept_js.html" with requestor_list=requestor_list priority_list=priority_list case_avg=case_avg scores_info=scores_info dissatisfied_info=dissatisfied_info unknown_info=unknown_info %}

	var recruitCosts = {{ rec2019_costs|safe }};
	var recruitCostsLabels = Object.keys(recruitCosts);
	var recruitCostsObjVal = Object.values(recruitCosts);
	var recruitCostsData = formatHorizontalBarChartData2(recruitCostsObjVal, monthlyLabels2019);	
	
	var empSourceCount = {{ preHireEmpSource_counts|safe }};
	var empSourceCountLabels = Object.keys(empSourceCount);
	var empSourceCountData = Object.values(empSourceCount);
	console.log("empSourceCountData: ", empSourceCountData)
	
	function recruitmentDeptOnlyCharts() {
		hbar_graph1('recruitCosts-barChart', recruitCostsLabels, recruitCostsData, monthlyLabels2019, poolColors(recruitCostsLabels.length), blue_menu_color, horizStackedBarGraph_options3)
		hbar_graph2('preHireEmpSource-barChart', empSourceCountLabels, empSourceCountData, 'Total', '#FFE933', horizBarGraph_options1)
	}	
	startRecruitmentChartsTimeOut();	
{% endblock %}