{% extends 'base.html' %}

{% block heading%}
	<h6 class='mb-1'>EMPLOYEE RELATIONS</h6>
{% endblock %}

{% block content %}
	<div class="container-fluid" id="main">
		<div class="row row-offcanvas row-offcanvas-left">
			<!--Main col starts/-->
			<div class="col main mt-1">							
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link {{ casework_tab }}" href="{% url 'relations' 1 %}" role="tab"><small>Casework Data</small></a>
					</li>
					<li class="nav-item">
						<a class="nav-link {{ cssurveys_tab }}" href="{% url 'relations' 2 %}" role="tab"><small>CS Survey Results</small></a>
					</li>
					<li class="nav-item">
						<a class="nav-link {{ teamdata_tab }}" href="{% url 'relations' 3 %}" role="tab"><small>Other Team Metrics</small></a>
					</li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content tab-bkgrnd2">
					<!--Tab1/-->		
					<div role="tabpanel" class="tab-pane {{ casework_tab }}" id="casework1">
						{% include "departments/casework.html" with caseList=case_list %}					
					</div>
					<!--/Tab1-->
					<!--Tab2/-->
					<div role="tabpanel" class="tab-pane {{ cssurveys_tab }}" id="cssurveys1">
						{% include "departments/cssurveys.html" %}
					</div>
					<!--/Tab2-->
					<!--Tab3/-->
					<div role="tabpanel" class="tab-pane {{ teamdata_tab }}" id="teamdata1">
						<div class="container-fluid">
							<div class="row my-1">							
								<div class="col-lg-6 col-md-6">									
									<div class="row placeholders mb-1">
										<div class="col-12 text-center">
											<div class="placeholder text-center">												
												<div class="boxplot-chart">
													<div class="spinner" id="mySpinnerA3"></div>
													<canvas id="empSatResults-boxplotChart" class="box-plot-canvas" width="550" height="425"></canvas>
												</div> 										
												<h6 class="chart-title">Employee Satisfaction Survey Results By Department - Qtr 2</h6>
											</div>
										</div>
									</div>						
								</div>								
								<div class="col-lg-6 col-md-6">										
									<div class="row placeholders mb-1">
										<div class="col-12 text-center">
											<div class="placeholder text-center">																						
												<div class="boxplot-chart">
													<div class="spinner" id="mySpinnerB3"></div>
													<canvas id="engSurveyResults-boxplotChart" class="box-plot-canvas" width="550" height="425"></canvas>
												</div>												
												<h6 class="chart-title">Engagement Survey Results By Department - Qtr 2</h6>
											</div>
										</div>
									</div>	
								</div>
							</div>
						</div>
					</div>	
					<!--/Tab3-->
				</div>
				
			</div>
			<!--/main col ends-->
		</div>
	</div>
	<!--/.container-->
{% endblock %}


{% block deptCharts-script %}
	{% include "departments/dept_js.html" with requestor_list=requestor_list priority_list=priority_list case_avg=case_avg scores_info=scores_info dissatisfied_info=dissatisfied_info unknown_info=unknown_info %}

	var engSurveyResultsByDept = {{ engSurvey_results|safe }};
	var engSurveyResultsByDeptLabels = Object.keys(engSurveyResultsByDept);
	var engSurveyResultsByDeptData = Object.values(engSurveyResultsByDept);
	
	var empSatSurveyResultsByDept = {{ empSatSurvey_results|safe }};
	var empSatSurveyResultsByDeptLabels = Object.keys(empSatSurveyResultsByDept);
	var empSatSurveyResultsByDeptData = Object.values(empSatSurveyResultsByDept);
	
	function relationsDeptOnlyCharts() {
		boxplot_graph1('engSurveyResults-boxplotChart', engSurveyResultsByDeptLabels, engSurveyResultsByDeptData, '#ffae19', boxPlot_options1);
		boxplot_graph1('empSatResults-boxplotChart', empSatSurveyResultsByDeptLabels, empSatSurveyResultsByDeptData, '#9732a8', boxPlot_options1);		
	}
	startRelationsChartsTimeOut();
{% endblock %}