{% extends 'base.html' %}

{% block heading%}
	<h6 class='mb-1'>EMPLOYEE RELATIONS</h6>
{% endblock %}

{% block content %}
	<div class="container-fluid" id="main">
		<div class="row row-offcanvas row-offcanvas-left">
			<!--Main col starts/-->
			<div class="col main mt-3">
			
				<!--Alert Div/--> 				
				<div class="alert alert-warning fade collapse" role="alert" id="myAlert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
						<span class="sr-only">Close</span>
					</button>
					<strong>Holy guacamole!</strong> This is an example of an alert.
				</div>
				<!--/Alert Div-->
				
				<div class="row placeholders mb-3">
					<div class="col-6 col-sm-3 placeholder text-center">
						<img src="https://placehold.it/200/dddddd/fff?text=1" class="mx-auto img-fluid rounded-circle" alt="Generic placeholder thumbnail">
						<h4>Responsive</h4>
						<span class="text-muted">Device agnostic</span>
					</div>
					<div class="col-6 col-sm-3 placeholder text-center">
						<img src="https://placehold.it/200/e4e4e4/fff?text=2" class="mx-auto img-fluid rounded-circle" alt="Generic placeholder thumbnail">
						<h4>Frontend</h4>
						<span class="text-muted">UI / UX oriented</span>
					</div>
					<div class="col-6 col-sm-3 placeholder text-center">
						<img src="https://placehold.it/200/d6d6d6/fff?text=3" class="mx-auto img-fluid rounded-circle" alt="Generic placeholder thumbnail">
						<h4>HTML5</h4>
						<span class="text-muted">Standards-based</span>
					</div>
					<div class="col-6 col-sm-3 placeholder text-center">
						<img src="https://placehold.it/200/e0e0e0/fff?text=4" class="center-block img-fluid rounded-circle" alt="Generic placeholder thumbnail">
						<h4>Framework</h4>
						<span class="text-muted">CSS and JavaScript</span>
					</div>
				</div>
				<!--/row-->

				<hr>
				<div class="mb-3">
					<div class="card-deck">
						<div class="card card-inverse card-success text-center">
							<div class="card-body">
								<blockquote class="card-blockquote">
									<p>It's really good news that the new Bootstrap 4 now has support for CSS 3 flexbox.</p>
									<cite title="Source Title">Faster</cite>
								</blockquote>
							</div>
						</div>
						<div class="card card-inverse card-danger text-center">
							<div class="card-body">
								<blockquote class="card-blockquote">
									<p>The Bootstrap 3.x element that was called "Panel" before, is now called a "Card".</p>
									<cite title="Source Title">Sense</cite>
								</blockquote>
							</div>
						</div>
					</div>
				</div>
				<!--/row-->
				
				<div class="mb-3">
					<div class="card-deck">
						<div class="card card-inverse card-success text-center">
							<div class="card-body">
								<blockquote class="card-blockquote">
									<p>It's really good news that the new Bootstrap 4 now has support for CSS 3 flexbox.</p>
									<cite title="Source Title">Faster</cite>
								</blockquote>
							</div>
						</div>
						<div class="card card-inverse card-danger text-center">
							<div class="card-body">
								<blockquote class="card-blockquote">
									<p>The Bootstrap 3.x element that was called "Panel" before, is now called a "Card".</p>
									<cite title="Source Title">Sense</cite>
								</blockquote>
							</div>
						</div>
					</div>
				</div>
				<!--/row-->
				
			</div>
			<!--/main col ends-->
		</div>
	</div>
	<!--/.container-->
{% endblock %}

